.main-container{
    text-align: -webkit-center;
    padding: 50px;
    max-height: 100%;

}
.main-container>div{
    display: block;
    max-width: 256px;
}
.button{
    margin-top: 10px;
}
.forgot{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}
.forgot>div{
    display: table-cell;
    width:160px;
    margin: 2px 0;
}

